* {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: "leagueSpartan";
    src: url("../fonts/LeagueSpartan-Bold.otf");
}

:root {
    --color-primary: black;
    --color-secondary: white;
    --color-accent: #ffe61b;
    --font-sanchez: "Sanchez", serif;
    --font-spartan: "leagueSpartan", serif;
}

body {
    font-family: "Open Sans", sans-serif;
}

#fullpage {
    height: 100vh;
}

#fullpage .section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

#fullpage .section:nth-child(1) {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

#fullpage .section:nth-child(2) {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

#fullpage .section:nth-child(3) {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* NAVIGATION BULLETS */

#fp-nav > ul > li:nth-child(1) > a > span {
    background: #808080;
}

#fp-nav > ul > li:nth-child(1) > a.active > span {
    background: var(--color-primary);
}

#fp-nav > ul > li:nth-child(2) > a > span {
    background: #808080;
}

#fp-nav > ul > li:nth-child(2) > a.active > span {
    /* background: #808080; */
    background: var(--color-secondary);
}

#fp-nav > ul > li:nth-child(3) > a > span {
    background: #808080;
}

#fp-nav > ul > li:nth-child(3) > a.active > span {
    background: var(--color-primary);
}

/* GRIDS */

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    padding-left: 5%;
    padding-right: 5%;
}

.row.name {
    margin-bottom: 1vh;
}

.row.name span {
    font-family: var(--font-spartan);
    text-transform: uppercase;
}
.row.name h1 {
    font-family: var(--font-spartan);
    text-transform: uppercase;
}

.row.title {
    margin-bottom: 2rem;
}

.row.title span {
    font-family: var(--font-sanchez);
    text-transform: lowercase;
}

.row.projects-title {
    margin-top: 1rem;
    color: var(--color-secondary);
}

@media only screen and (max-width: 576px) {
    .row.name span {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 4px;
    }
    .row.name h1 {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 4px;
    }
    .row.title span {
        font-size: 24px;
    }
    .row.projects-title {
        font-size: 24px;
        margin-top: -5rem;
        margin-bottom: 3rem;
    }
    .fp-controlArrow {
        display: none;
    }
}

@media only screen and (min-width: 577px) {
    .row.name span {
        font-size: 70px;
        line-height: 94px;
        letter-spacing: 7px;
    }
    .row.name h1 {
        font-size: 70px;
        line-height: 94px;
        letter-spacing: 7px;
    }
    .row.title span {
        font-size: 48px;
    }
    .row.projects-title {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

.card {
    color: var(--color-primary);
    width: 256px !important;
}

.card-img-top {
    margin: 20px;
    width: 214px !important;
}

.slide {
    height: 420px !important;
    display: flex !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 0 !important;
}

.fp-controlArrow.fp-prev {
    border-right-color: var(--color-accent) !important;
}
.fp-controlArrow.fp-next {
    border-left-color: var(--color-accent) !important;
    margin-right: 3rem;
}

/* CONTACT SECTION */

@media only screen and (min-width: 787px) {
    .contact .row.name span {
        font-size: 70px;
        line-height: 94px;
        letter-spacing: 7px;
    }

    .contact .row.title span {
        font-size: 48px;
        line-height: 5rem;
    }

    .social .social-minimal {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        padding-left: 0;
        padding-right: 0;
    }

    .social .social-minimal a i {
        font-size: 56px;
        margin: 10px 24px;
    }

    .social .handle {
        margin-top: 1rem;
        font-family: var(--font-sanchez);
        text-transform: lowercase;
        font-size: 24px;
    }
}

@media only screen and (max-width: 786px) {
    .contact .row.name span {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 4px;
    }

    .contact .row.title span {
        font-size: 20px;
        line-height: 3rem;
    }

    .social .social-minimal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
    }

    .social .social-minimal i {
        font-size: 8vw;
        margin: 0 0.8rem;
    }

    .social .handle {
        font-family: var(--font-sanchez);
        text-transform: lowercase;
        margin-top: 6vh;
        font-size: 20px;
    }

    .social .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.social a:first-child i {
    margin-left: 0;
}
.social a:last-child i {
    margin-right: 0;
}

.social .col {
    display: flex;
    flex-direction: column;
}

.social a {
    color: none;
}

.contact .social a {
    color: var(--color-primary);
}

.contact .social a:not(.button):hover,
.contact .social a:not(.button):active {
    color: #808080;
}
