* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: var(--bs-font-sans-serif);
}

.container {
  min-height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #e1f5fe;
}

.container:nth-child(even) {
  background-color: #fff8f0;
}

#cta-landing-contact-me-btn {
  margin-top: 0.6rem;
  color: #fff;
  background-color: #039be5;
  border-color: #039be5;
}

.container.first .row {
  justify-content: center;
}

@media only screen and (max-width: 385px) {
  .container.first .display-2 {
    font-size: 32px;
  }

  .container.first .display-6 {
    margin-top: 0.4rem !important;
    font-size: 24px;
  }

  #cta-landing-contact-me-btn {
    margin-top: 1.6rem;
    color: #fff;
    background-color: #039be5;
    border-color: #039be5;
  }
}
