body {
    background: rgb(142, 45, 226);
    background: linear-gradient(
        90deg,
        rgba(142, 45, 226, 1) 0%,
        rgba(74, 0, 224, 1) 100%
    );
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    /* width: 100px; */
    /* height: 100px; */
}

text {
    font-family: "Oxygen Mono", monospace;
    font-size: 40px;
    color: whitesmoke;
}
